.section {
  padding-block: var(--section-padding-desktop);
  background-color: var(--color-ivory);
}

.paragraph strong {
  font-weight: var(--font-weight-body-semibold);
}

@media (max-width: 1439px) {
  .section {
    padding-block: var(--section-padding-tablet);
  }
}

@media (max-width: 767px) {
  .section {
    padding-block: var(--section-padding-mobile);
  }
}
