.grid {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

.container {
  height: 100%;
}

.columns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--gutter-desktop);
  height: 100%;
}

.column {
  border-inline-end: 1px solid var(--color-hairline-light);
  opacity: 0.5;
}

@media (max-width: 1439px) {
  .columns {
    column-gap: var(--gutter-tablet);
  }
}

@media (max-width: 1023px) {
  .grid {
    display: none;
  }
}
