.section {
  position: relative;
}

.content {
  position: relative;
  z-index: 1;
}

.plates {
  margin-top: var(--space-6xl);
}

@media (max-width: 767px) {
  .plates {
    margin-top: var(--space-4xl);
  }
}
