:root {
  --space-2xs: 0.125rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1rem;
  --space-xl: 1.25rem;
  --space-2xl: 1.5rem;
  --space-3xl: 1.75rem;
  --space-4xl: 2rem;
  --space-5xl: 2.5rem;
  --space-6xl: 3rem;
  --space-7xl: 3.5rem;
  --space-8xl: 4rem;
  --space-9xl: 4.5rem;
  --space-10xl: 5rem;
  --space-11xl: 6rem;
  --space-12xl: 7rem;
  --space-13xl: 7.5rem;

  --gutter-mobile: 1rem;
  --gutter-tablet: 1.25rem;
  --gutter-desktop: 1.5rem;

  --space-2: var(--space-sm);
  --space-3: var(--space-md);
  --space-4: var(--space-lg);

  --margin-mobile: 1.25rem;
  --margin-tablet: 1.5rem;
  --margin-desktop: 5rem;

  --container-max: 80rem;

  --section-padding-desktop: 7rem;
  --section-padding-tablet: 4.5rem;
  --section-padding-mobile: 3.5rem;
}
